// Card
//
// This is the Card component.
// 2 varaiations are included.
//
// .card--wide - A variation of the Card with row layout.
//
// Markup: card.twig
//
// Style guide: Components.Card

// Import site utilities.
@import '../../global/utils/init';

.card {

  .card__content {
    margin: 2rem 0 0;
  }
}

.card__eyebrow {
  display: block;
  font-size: 0.75rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1.5rem;

  @include breakpoint($bp-sm) {
    font-size: 2rem;
  }
}

.card__subhead {
  font-size: 1.25rem;
  font-weight: normal;

  @include breakpoint($bp-sm) {
    font-size: 1.5rem;
  }
}

.card__link {
  display: block;
  margin-top: 1.5rem;
}

// Styles for Wide variation of Card
.card--wide {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-xsm) {
    flex-direction: row;
  }

  .card__media {
    flex: 1;
  }

  .card__content {
    flex: 1;

    @include breakpoint($bp-xsm) {
      margin: 0 0 0 1.5rem;
    }
  }

  .card__eyebrow {
    margin-top: 0;
  }
}
