// Import site utilities.
@import '../../global/utils/init';

// Theme styles
.gallery-carousel__title {
  @include wire-large-heading;
  text-align: center;
}

.gallery-carousel__intro-text {
  margin-bottom: 1.5rem;
  text-align: center;
}

.gallery-carousel {
  margin-bottom: 2rem;

}

.gallery-carousel-item {

  &:hover {

    > .gallery-carousel-item__text {
      opacity: 0.8;
    }
  }
}

.gallery-carousel-item__media {
  margin: 0 auto;
}

.gallery-carousel-item__text {
  background: $color-white;
  bottom: 0;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  transition: opacity 0.25s;
  width: 100%;
}

.gallery-carousel__nav {

  .slick-track {
    padding: 20px 0;
  }
}

.gallery-carousel__nav-item {
  border: 3px solid transparent;
  margin: 0 0.25rem;
  position: relative;

  @include breakpoint($bp-xsm) {
    margin: 0 0.5rem;
  }

  &.slick-current,
  &:active,
  &:hover,
  &:focus {
    border: 3px solid $color-blue;
    outline: none;
  }

  &.slick-current {

    &::before {
      content: '\25B2';
      position: absolute;
      top: -26px;
      color: $color-blue;
      font-size: 1.75rem;
      left: 50%;
      margin-left: -12px;
    }
  }

  img:focus {
    outline: none;
  }
}

// Slick overrides
.gallery-carousel {
  .slick-prev,
  .slick-next {
    height: 50px;
    width: 50px;
    z-index: 1;

    &::before {
      color: $color-blue;
      font-size: 48px;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
